@media screen and (max-width: 768px) {
  #main-title {
    font-size: 22pt !important;
  }
  #title-container span:not(#main-title) {
    font-size: 11pt !important;
  }
}

@media screen and (max-width: 768px) {
  .bottom-left {
    display: flex !important;
  }
  .stack {
    max-height: 40dvh !important;
  }
}

#text-search {
  font-size: 16px;
}
